<h1>Data Science Tools and Ecosystem</h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

<p>some of the popular languages that Data Scientists use are: </p> 
    <ol>
  <li>python</li>
  <li>R</li> 
  <li>Scala</li>  

</ol>

<p>Some of the commonly used libraries used by Data Scientists include: </p> 
<ol>
  <li>numpy</li>
  <li>pandas</li> 
  <li>seaborn</li>  

</ol>

<h2>Data Science Tools</h2>   
<p>development environment open source tools used in data science.</p>
<table>
  <tr>
    <th>Jupyter Notebooks</th> 
    <th>R Studio</th>   
     <th>visual studio</th>     
    
  </tr>

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [8]:
1*2

2

In [9]:
3*5

15

In [10]:
5+2

7

In [11]:
8+10

18

<h1>convert minutes to hours</h1> 
<p>This will convert 200 minutes to hours by diving by 60.<p>

In [15]:
200/60

3.3333333333333335

<h1> objectives </h1> 
  <ol>
    <li> <h1>Languages used in data science </h1> </li> 
    <p> python-matlab-R</p>
    <li><h1>Open source tools in data science and analysis</h1></li> 
    jupyter Notebooks	R Studio	visual studio
    <li><h1>The libraries used in the most prominent programming libraries are Python </h1> </li>  
    numpy-pandas-seborn
    <li><h1>Examples of using mathematical expressions </li> </h1> 
    multyplay-add

</ol>

<h3>Author</h3> 
yassen alobaidi